<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aplicacion">


    <!-- gps y notis-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <!-- health connect-->
    <uses-permission android:name="android.permission.health.REACT_HEALTH_RATE"/>
    <uses-permission android:name="android.permission.health.WRITE_HEALTH_RATE"/>
    <uses-permission android:name="android.permission.health.READ_STEPS"/>
    <uses-permission android:name="android.permission.health.WRITE_STEPS"/>


    <application
        android:allowBackup="true"
        android:label="Taski Pet ♡"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplicacion"
        android:icon="@mipmap/logo_app"
        android:roundIcon="@mipmap/logo_app">


        <!-- COmentario de permisos de privacidad y weas
        <activity-alias
            android:name="ViewPermissionUsageActivity"
            android:exported="true"
            android:targetActivity=".PantallaMascota"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Taski Pet ♡">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        -->


    </application>


    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>


</manifest>
